#login h2 {
    text-align: center;
}

#login {
    display: flex;
    height: 550px;
    align-items: center;
}

#login p {
    margin-top: 20px;
    text-align: center;
}

#login p a {
    text-decoration: none;
    font-size: 18px;
}


#header {
    background: blue;
    padding: 10px 0px;
}

#header button {
    float: right;
}

#dashboard {
    display: flex;
    height: 500px;
    align-items: center;
}